<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.notification.title}">Coliv : You have received a new quotation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body style="margin: 0; padding: 0;">
<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                <tr>
                    <td style="color: #153643; font-family: Arial, sans-serif;">
                        <h1 style="font-size: 24px; margin: 0;" th:text="#{email.notification.greeting(${user.login})}">Dear</h1>
                        <h1 style="font-size: 24px; margin: 0;" th:text="#{email.notification.date(${date})}">you received a new quotation on {0} for your advertisement.</h1>
                    </td>
                </tr>
                <tr>
                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; padding: 20px 0 30px 0;">
                        <p style="margin: 0;" th:text="#{email.notification.text2}">The Coliv team see you very soon on our app </p>
                    </td>
                </tr>

                <tr>
                    <td bgcolor="#f36b30" style="padding: 30px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                            <tr>
                                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                                    <p style="margin: 0;">&reg; COLIV<br/>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</td>
</tr>
</table>
</body>
</html>
