@import './variables/_colors.scss';

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative !important;
    min-height: 100vh !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/**
* A classname to put something int the middle of the screen, vertically and horizontally
*
* @author Peter Mollet
*/
.vh-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
}

.pagination>.active>a {
    background-color: #47ccde;
    border-color: #47ccde;
    color: #fff;
}

.pagination>li>a {
    border: 1px solid #47ccde;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #47ccde;
    border-color: #47ccde;
    outline: none;
}

.pagination>li>a,
.pagination>li>span {
    color: #47ccde
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: unset
}

.headerFilter {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background-image: url("../images/thumbnail.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hapyDelivryMan {
    background-image: url("../images/ok.jpg");
    height: 100;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.homePAge {
    background-image: url("../images/coliv-heroe-01-large.jpg");
    height: 100;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.createAdvertisement {
    background-image: url("../images/transportColis.jpg");
    height: 100;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}